{% extends "base.html" %}
{% block title %}
About
{% endblock title %}
{% block main %}
<div class="container mt-5 mb-2">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
             SMACarRentals
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
            <div class="accordion-body">
              <strong>Rev up your possibilities! A one-stop destination for car owners and seekers alike.</strong> The SMACarRental System is a user-friendly platform that allows individuals to rent out their cars and also rent cars from others. The system is designed to provide a seamless experience for both car owners and renters. It offers features such as generating invoices, adding/editing cars, managing user profiles.<br> 
              <h2>Key Features:</h2>
              <ul>
                  <li><strong>Car Rental and Listing:</strong>
                      <ul>
                          <li>Car owners can list their vehicles on the platform with detailed descriptions, images, and rental rates.</li>
                          <li>Renters can search for available cars based on their preferred location, date, and vehicle type.</li>
                      </ul>
                  </li>
                  <li><strong>Booking and Reservation:</strong>
                      <ul>
                          <li>Renters can easily book a car of their choice by selecting the desired dates and making a payment through a secure payment gateway.</li>
                          <li>Car owners receive booking requests and can accept or reject them based on availability.</li>
                      </ul>
                  </li>
                  <li><strong>Invoice Generation:</strong>
                      <ul>
                          <li>The system automatically generates detailed invoices for each rental transaction, including rental charges, duration, taxes, and any additional fees.</li>
                          <li>Renters can view and download invoices from their profiles for their records.</li>
                      </ul>
                  </li>
                  <li><strong>Car Management:</strong>
                      <ul>
                          <li>Car owners can add new vehicles to the platform, providing essential details such as make, model, year, fuel type, and insurance information.</li>
                          <li>They can also edit existing car listings to update availability, rental rates, or other vehicle specifications.</li>
                      </ul>
                  </li>
                  <li><strong>User Profiles:</strong>
                      <ul>
                          <li>Both car owners and renters have individual user profiles where they can manage their personal information, contact details, and preferences.</li>
                          <li>Renters can view their rental history and saved cars, while car owners can track their bookings and earnings.</li>
                      </ul>
                  </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Technology Used
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
              <strong>Various technology used in this sytem which are mentioned below.</strong><br> <h3><code>Key Tech Used</code></h3>
              <ul>
                
                <li>
                  <h5>Front End Tech:</h5>
                  <ul>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Bootstrap</li>
                    <li>ECMA Script (Javascript)</li>
                  </ul>
                </li>
                <li>
                  <h5>Back-End Tech</h5>
                  <ul>
                    <li>Python</li>
                    <li>Django</li>
                    <li>SQLITE3</li>
                  </ul>
                </li>
                <li>
                  <h5>Deployed At</h5>
                  <ul>
                    <li>PythonAnywhere.com</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
              Developer
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <div class="container d-md-flex "> 
                <div class="d-md-inline text-center">
                  <img id="profileimgpre" src="../static/home/developerimage.jpg" class=" rounded-circle m-2" width="150" height="150" alt="Profile-Image" title="Profile Image" style="cursor:pointer;" >
                </div>
                <div class="d-inline" style="width:100%;">
                  <div class="d-flex text-center justify-content-center" style="width:100%; height:150px;" >
                    <div class="align-self-center d-inline-block">
                      <h1>Mohd Ahmad</h1>
                      <span class="typeeffect"></span>
                    </div>
                  </div>
                  <hr>
                  <div class="d-md-flex justify-content-center flex-column flex-nowwrap">
                    <h2 style="width:100%" class="text-center mb-4">
                      Skills
                    </h2>
                    <div class="skillset d-md-flex justify-content-between flex-nowwrap">
                      <div class="d-md-inline-block">
                        <h4>Front End</h4>
                        <ul>
                            <li>
                                <p>HTML5</p>
                                <div class="bar">
                                    <span class="p-90"></span>
                                </div>
                            </li>
                            <li>
                                <p>CSS 3</p>
                                <div class="bar">
                                    <span class="p-60"></span>
                                </div>
                            </li>
                            <li>
                                <p>JavaScript</p>
                                <div class="bar">
                                    <span class="p-50"></span>
                                </div>
                            </li>
                            <li>
                                <p>Bootstrap</p>
                                <div class="bar">
                                    <span class="p-70"></span>
                                </div>
                            </li>
                            <li>
                                <p>React</p>
                                <div class="bar">
                                    <span class="p-60"></span>
                                </div>
                            </li>
                        </ul>
                        
                      </div>
                      <div class="d-md-inline-block">
                        <h4>Back End</h4>
                        <ul>
                            <li>
                                <p>Django</p>
                                <div class="bar">
                                    <span class="p-80"></span>
                                </div>
                            </li>
                            <li>
                                <p>Node.js</p>
                                <div class="bar">
                                    <span class="p-60"></span>
                                </div>
                            </li>
                            <li>
                                <p>Next.js</p>
                                <div class="bar">
                                    <span class="p-60"></span>
                                </div>
                            </li>
                            <li>
                                <p>Express</p>
                                <div class="bar">
                                    <span class="p-50"></span>
                                </div>
                            </li>
                        </ul>
                      </div>
                      <div class="d-md-inline-block">
                        <h4>Database</h4>
                        <ul>
                            <li>
                                <p>SQL</p>
                                <div class="bar">
                                    <span class="p-70"></span>
                                </div>
                            </li>
                            <li>
                                <p>My SQL</p>
                                <div class="bar">
                                    <span class="p-80"></span>
                                </div>
                            </li>
                            <li>
                                <p>MongoDB</p>
                                <div class="bar">
                                    <span class="p-60"></span>
                                </div>
                            </li>
                        </ul>
                      </div>
                      <div class="d-md-inline-block">
                      
                        <h4>Languages</h4>
                        <ul>
                            <li>
                                <p>C</p>
                                <div class="bar">
                                    <span class="p-90"></span>
                                </div>
                            </li>
                            <li>
                                <p>C++</p>
                                <div class="bar">
                                    <span class="p-60"></span>
                                </div>
                            </li>
                            <li>
                                <p>Python</p>
                                <div class="bar">
                                    <span class="p-90"></span>
                                </div>
                            </li>
                            <li>
                                <p>Java</p>
                                <div class="bar">
                                    <span class="p-60"></span>
                                </div>
                            </li>
                            <li>
                                <p>JavaScript</p>
                                <div class="bar">
                                    <span class="p-60"></span>
                                </div>
                            </li>
                        </ul>
                      </div>
                    </div>
                    
                  </div>
                  <hr>
                  <div class="d-flex text-center justify-content-center flex-column" style="width:100%; height:150px;" >
                    <div class="d-block mb-5">
                      <h3>Contact Me</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                      <a class="" target="_blank" href="{{developer.linkedin}}"><i class="link fa-brands fa-linkedin-in fa-2xl" title="LinkedIn"></i></a>
                      <a class="" target="_blank" href="{{developer.github}}"><i class="link fa-brands fa-github fa-2xl" title="Git Hub"></i></a>
                      <a class="" target="_blank" href="{{developer.twitter}}"><i class="link fa-brands fa-x-twitter fa-2xl" title="X"></i></a>
                      <a class="" target="_blank" href="{{developer.resume}}"><i class="link fa-solid fa-file fa-2xl" title="Web Resume"></i></a>
                      <a class="" target="_blank" href="{{developer.medium}}"><i class="fa-brands fa-medium fa-2xl" title="medium"></i></a>
                      <a class="" target="_blank" href="mailto:{{developer.mail}}"><i class="link fa-regular fa-envelope fa-2xl" title="Email"></i></a>
                    </div>
                  </div>
                  
                </div>
                

              </div>
            </div>
          </div>
        </div>
      </div>    
</div>

{% endblock main %}
{% block script %}
  $(document).ready(function(){
    $(".typeeffect").typed({
      strings: ["Software Engineer","Full Stack Developer","Web Designer","Python Enthusiast"],
      typeSpeed:100,
      loop:true,
      backSpeed:50
    })
  });
{% endblock script %}