{% extends "base.html" %}
{% block title %}
Make-Order
{% endblock title %}
{% block main %}
<div class="container">
  <main>
    
    <div class="row g-5 my-2">
      <div id="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 1; display:none;"></div>
      <div id="spinner" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2;  display:none;">
          <div class="d-flex justify-content-center">
            <div class="spinner-border text-warning" style="width: 3rem; height: 3rem; role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-lg-8 "> 
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation"  method="post" action="/orders/{{id}}" novalidate="" enctype="multipart/form-data">
          <div class="row g-3">
            <div class="col-sm-12">
              <label for="firstName" class="form-label">Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" name="name" required="">
              <div class="invalid-feedback">
                Valid Name is required.
              </div>
            </div>

            <div class="col-6 ">
              <label for="username" class="form-label">From</label>
              <div class="input-group has-validation">
                <input type="date" onchange="checkAvailablity()" class="form-control" id="from_date" placeholder="to_date"  name="from_date" value ="{{cur_date}}" required="" min={{cur_date}}>
              <div class="invalid-feedback">
                  Date is required.
                </div>
              </div>
            </div>
            <div class="col-6">
              <label for="username" class="form-label">To</label>
              <div class="input-group has-validation">
                <input type="date" class="form-control" id="to_date" placeholder="to_date" required="" name="to_date" min="{{cur_date}}">
              <div class="invalid-feedback">
                  Date is required.
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="" name="tennant_address">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label" >Driving Licence <small class="text-muted">(if you want to upload another)</small></label>
              <input type="file" class="form-control" id="dl2" name="dl" >
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">City</label>
              <input type="text" class="form-control" id="city" name="city">
            </div>

            <div class="col-md-4">
              <label for="state" class="form-label">State</label>
              <select class="form-select" id="state" required="" name="state">
                <option value="">Choose...</option>
                <option>Andhra Pradesh</option>
                <option>Arunachal Pradesh</option>
                <option>Assam</option>
                <option>Bihar</option>
                <option>Chhattisgarh</option>
                <option>Goa</option>
                <option>Gujarat</option>
                <option>Haryana</option>
                <option>Himachal Pradesh</option>
                <option>Jharkhand</option>
                <option>Karnataka</option>
                <option>Kerala</option>
                <option>Madhya Pradesh</option>
                <option>Maharashtra</option>
                <option>Manipur</option>
                <option>Meghalaya</option>
                <option>Mizoram</option>
                <option>Nagaland</option>
                <option>Odisha</option>
                <option>Punjab</option>
                <option>Rajasthan</option>
                <option>Sikkim</option>
                <option>Tamil Nadu</option>
                <option>Telangana</option>
                <option>Tripura</option>
                <option>Uttar Pradesh</option>
                <option>Uttarakhand</option>
                <option>West Bengal</option>
                <option>Andaman and Nicobar Islands</option>
                <option>Chandigarh</option>
                <option>Dadra and Nagar Haveli and Daman and Diu</option>
                <option>Lakshadweep</option>
                <option>Puducherry</option>
                <option>Delhi</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Zip</label>
              <input type="number" class="form-control" id="zip" placeholder="" name="zip" required="">
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>
          <hr class="my-4">

          {% csrf_token %}          
          <button class="w-100 btn btn-warning btn-lg" type="submit">Continue to checkout</button>
        </form>
      </div>
    </div>
  </main>
</div>
<div class="modal" tabindex="-1" id="modal" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="alert-message" class="text-danger text-center"></p>
      </div>
    </div>
  </div>
</div>
<script>
  async function checkAvailablity(event){
    const from_date = document.getElementById("from_date").value;
    const car_id = "{{id}}";
    document.getElementById("overlay").style.display = "block";
    document.getElementById("spinner").style.display = "block";
    const formData = new FormData();
    formData.append("from_date",from_date)
    formData.append("car_id",car_id)
    const currentDomain = window.location.origin;
    const fullURL = currentDomain + "/orders/checkavailability/";
    const response = await fetch(fullURL, {
      method: "POST",
      body: formData,
    });
    const data = await response.json();
    //console.log("Response from backend:", data);
    //console.log(from_date);
    //console.log(car_id);
    if(data.status!=200){
      document.getElementById("alert-message").innerText = data.message;
      const myModal = new bootstrap.Modal('#modal', {
        keyboard: false
      })      
      const modalToggle = document.getElementById('modal'); 
      myModal.show(modalToggle);
    }
    document.getElementById("overlay").style.display = "none";
    document.getElementById("spinner").style.display = "none";
  }
</script>
{% endblock main %}