{% extends "base.html" %}
{% block title %}
Car
{% endblock title %}
{% block main %}
<div class="container my-5">
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide my-2" data-bs-ride="carousel" >
                <div class="carousel-inner">
                    {% for image in car.images.all %}
                        {% if forloop.counter == 1 %}
                        <div class="carousel-item active" style="height: 60vh;">
                            <img src="{{image.images.url}}" class="d-block w-100 " alt="car-image" >
                        </div>
                        {% else %}
                        <div class="carousel-item " style="height: 60vh;">
                            <img src="{{image.images.url}}" class="d-block w-100 " alt="car-image" >
                        </div>
                        {% endif %}
                    {% endfor %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-center">Car Details</h5>
              <p class="card-text mb-0">company:- {{car.company}}</p>
              <p class="card-text mb-0">Model:- {{car.model}}</p>
              <p class="card-text mb-0">Rent Price:- {{car.rent_price}}</p>
              <p class="card-text mb-0">Car Number:- <strong>{{car.car_number}}</strong></p>
              <p class="card-text "><strong>{{car.description}}</strong></p>
              <hr>
              <p class="card-text text-center"><strong>Car Owner</strong></p>
              <p class="card-text mb-0 ">Name:- <strong>{{car.owner.first_name}}</strong></p>
              <p class="card-text mb-0">Email:- <strong>{{car.owner.email}}</strong></p>

              <p class="card-text mt-4"><small class="text-muted">Last updated 3 mins ago</small></p>
              {% if groupname == "owner" %}
                <div class="row">
                    <a href="/cars/delete/{{car.id}}" class="btn mb-2 mx-2 btn-outline-warning py-2 px-4 col-md-2">Delete</a>
                    <a href="/cars/edit/{{car.id}}" class="btn mb-2 mx-2 btn-outline-warning py-2 px-4 col-md-2">Edit</a>
                </div>
              {% else %}
                <div class="container d-flex justify-content-between">
                    <a href="/orders/{{car.id}}" class="btn btn-outline-warning py-2 px-4">Rent</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock main %}