{% extends "base.html" %} 
{% block title %} 
Profile 
{% endblock title %} 
{% block main %}
<main class=" my-3">
  <div class=" d-sm-flex">
    <div class="d-md-flex flex-column">
      <div class="d-inline">
        <div class="position-relative rounded-circle" style="border-radius: 50%; width:fit-content; ">
          <img id="profileimgpre" src="{{profile.images.url}}" class=" rounded-circle m-2" width="120" height="120" alt="Profile-Image" title="Profile Image" style="cursor:pointer;" onclick="imageInBigScreen(this)">
          <span style="cursor: pointer; top: 25px !important; left: 110px !important;" class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-warning" onclick="clickSiblingImage(this)"><i class="fa-solid fa-pencil"></i></span>
        </div>
      </div>
      <div class="d-inline ">
        <div class="position-relative rounded-circle" style="border-radius: 50%; width:fit-content; ">
          <img src="{{add.dl.url}}" class=" rounded-circle m-2" width="120" height="120" alt="Driving-License" title="Driving License" style="cursor:pointer;" onclick="imageInBigScreen(this)" id="dlimg">
          <span style="border-radius: 50% !important; cursor: pointer; top: 25px !important; left: 110px !important;" class="position-absolute top-0 start-100 translate-middle badge  bg-warning" onclick="clickSiblingImage(this)"><i class="fa-solid fa-pencil"></i></span>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <h1>Credentials:-</h1>
      <form method="post" action="/user/">
      {% csrf_token %}
        <div class="row">
          <div class="form-group col-md-6">
            <input type='hidden' value="{{user.id}}" id="client_id" name="client_id">
            <label for="inputEmail4">Email</label>
            <input type="email" name="email" value="{{user.email}}" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Name</label>
          <input type="text" name="name" value="{{user.first_name}}" class="form-control" id="inputAddress" placeholder="Mohd Ahmad">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address</label>
          <input type="text" name="address" value="{{add.tennant_address}}" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" name="city" class="form-control" value="{{add.city}}" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <input type="text" name="state" class="form-control" value="{{add.state}}" id="inputZip">
          </div>
          <div class="form-group col-md-2">
            <label for="inputState">Zip</label>
            <input type="number" name="zip" class="form-control" value="{{add.zip}}" id="Zip">
          </div>
          <div class="form-group col-md-10">
            <label for="inputState">Profile</label>
            <input type="file" class="form-control" onclick="openImageModelFromImageInput('profileimgpre')" name="profileimage"  id="profileimg">
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">User Type</label>
            <select id="inputState" name="usertype" class="form-control">
                {% if usertype.name == "teenant" %}
                <option selected="" value="tenant">Tenant</option>
                {% else %}
                <option value="tenant">Tenant</option>
                {% endif %}
                {% if usertype.name == "owner" %}
                <option selected="" value="owner">Owner</option>
                {% else %}
                <option value="owner">Owner</option>
                {% endif %}

            </select>
          </div>
          <div class="form-group col">
            <label for="inputDL">DL {{dl.name}}</label>
            <input type="file" onclick="openImageModelFromImageInput('dlimg')" placeholder="{{dl}}" class="form-control" name="DL"  id="DL">
          </div>
        </div>
        <button type="submit" class="btn my-3 btn-outline-warning">Save Changes</button>
      </form>
    </div>
  </div>
  {% if usertype.name == "owner" %}
  <hr>
  <div class="container ">
    <h1 class="text-warning"><strong>Your Cars:-</strong></h1>
    <div class="my-3 d-md-flex justify-content-start  ">
        {% for car in cars %}
        <div class="card my-3 mx-auto m-md-3 " style="width: 18rem;">
            
            <div id="carouselExampleSlidesOnly" class="carousel slide my-2" data-bs-ride="carousel" >
                <div class="carousel-inner">
                    {% for image in car.images.all %}
                        {% if forloop.counter == 1 %}
                        <div class="carousel-item active" style="height: 30vh;">
                            <img src="{{image.images.url}}" class="d-block w-100 " alt="car-image" >
                        </div>
                        {% else %}
                        <div class="carousel-item " style="height: 30vh;">
                            <img src="{{image.images.url}}" class="d-block w-100 " alt="car-image" >
                        </div>
                        {% endif %}
                    {% endfor %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            
            <div class="card-body">
              <h5 class="card-title">{{car.company}}</h5>
              <p class="card-text mb-0">Model:- {{car.model}}</p>
              <p class="card-text mb-0">Rent Price:- {{car.rent_price}}</p>
              <p class="card-text ">Car Number:- <strong>{{car.car_number}}</strong></p>
              <div class="row">
                <a href="/cars/{{car.id}}" class="btn mb-2 btn-outline-warning py-2 px-4">Details</a>
                <a href="/cars/delete/{{car.id}}" class="btn mb-2 btn-outline-warning py-2 px-4">Delete</a>
                <a href="/cars/edit/{{car.id}}" class="btn btn-outline-warning py-2 px-4">Edit</a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
  {% else %}
  {% endif %}


  <div class="modal" tabindex="-1" id="modal" >
    <div class="modal-dialog" style=" max-width: fit-content; max-height: fit-content;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_title"></h5>
          <button type="button" onclick="dontSaveImage()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center" id="modal_body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-warning" onclick="addImage()" id="close_delete">Edit</button>
          <button type="button" class="btn btn-outline-success" onclick="saveImages()" id="save">Save </button>
        </div>
      </div>
    </div>
  </div>

  <script>
    function openImageModelFromImageInput(id){
      event.preventDefault();
      document.getElementById(id).click();
    } 
    function clickSiblingImage(span) {
      const image = span.parentNode.querySelector("img");
      image.click(); // Simulate a click on the <img> tag
    }
    function imageInBigScreen(e){
      document.getElementById("modal_title").innerText = e.title;
      const image = document.createElement("img");
      image.src =  e.src;
      image.alt = e.alt;
      image.style.maxWidth = "80vw";   
      image.style.maxHeight = "80vh";  
      const imageContainer = document.getElementById("modal_body");
      imageContainer.innerHTML =  image.outerHTML;
      const myModal = new bootstrap.Modal('#modal', {
        keyboard: false
      })      
      const modalToggle = document.getElementById('modal'); 
      myModal.show(modalToggle);
    }
    var images;
    function dontSaveImage(){
      images='';
    }
    function showImagePreview(file) {
      const reader = new FileReader();
      reader.onload = function(event) {
        const imageContainer = document.getElementById('modal_body');
    
        // Create a new container div for the image
        const imageDiv = document.createElement('div');
        const image = document.createElement("img");
        image.src =  event.target.result;
        image.alt = document.getElementById("modal_title");
        image.style.maxWidth = "80vw";   
        image.style.maxHeight = "80vh";
        imageContainer.innerHTML = image.outerHTML;
      };
      reader.readAsDataURL(file);
    }
  
    function addImage(event) {
      const fileInput = document.createElement('input');
      fileInput.type = 'file';
      fileInput.accept = 'image/*';
      fileInput.addEventListener('change', function(event) {
        const file = event.target.files[0];
        images=file;
        showImagePreview(file);
      });
      fileInput.click();
    }
    function saveImages() {
      if (!images) {
        
        return;
      }
    
      const formData = new FormData();
      formData.append(`image`, images);
      const currentDomain = window.location.origin;
      const fullURL = currentDomain + "/user/editdlprofile/";
      let client_id = $('#client_id').val();
      formData.append('client_id',client_id)
      let title = $('#modal_title').text();
      formData.append('title',title)
      fetch(fullURL, {
        method: 'POST',
        body: formData,
      });
      const imageContainer = document.getElementById("modal_body");
      const myModal = new bootstrap.Modal('#modal', {
        keyboard: false
      })      
      const modalToggle = document.getElementById('modal'); 
      myModal.hide(modalToggle);
    }
  </script>
</main>

{% endblock main %}
